/*  your css code here. If applicable */
.master>p{
background:black;
	color:white;
	position:top;
	
	
}
.ru{
	background-color: gray;
	 margin: 50px;
	font-size:22px;
}
.ru li:nth-child(odd) {
    background-color: white;
}
.ru li:nth-child(3){
	background-color: pink;
}

:root {
  background:rgb(135, 206, 235);
}